In [1]:
import csv
import numpy as np
import pandas as pd
import seaborn as sns
import sklearn as skl
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [24]:
jobs = pd.read_csv("jobs.csv")
education = pd.read_csv("education.csv")
industries = pd.read_csv("industries.csv")
prices = pd.read_csv("prices.csv")

In [80]:
def get_jobs_city_plus_industry(city, industry):
    jobs_city = jobs[jobs.city == city]
    jobs_city_industry = jobs_city[jobs_city.category_name == industry]
    return jobs_city_industry

def get_industry_educational_data(title):
    industries_title = industries[industries.NAICS_title == title]
    columns_to_delete= ['10_percent', '25_percent', '50_percent', '75_percent', '90_percent']
    for i in columns_to_delete:
        del industries_title[i]
    return industries_title
    
jobs_chicago_finance = get_jobs_city_plus_industry('Chicago', "Accounting & Finance")
industries_finance = get_industry_educational_data('Nondepository Credit Intermediation')

,hash,company_id,company_name,title,created_date,last_checked_date,city,state,zip,country,category_id,category_name
190,000299e2db7d6ea7d5039df73862a108,471,Avis Budget Group,Vehicle Return Associate,2015-05-31,2015-11-02,Chicago,IL,60602.0,US,1,Accounting & Finance
516,0006e2daa77112e06d0cc29b242524be,1574,CSC,Health Plan Sr. Business Analyst - Billing Sys...,2012-10-09,2013-01-24,Chicago,IL,60602.0,US,1,Accounting & Finance
594,0007eb36f22cb158cc71326210648a56,25188,H&R Block Inc.,Tax Professional,2015-02-05,2015-03-11,Chicago,IL,60602.0,US,1,Accounting & Finance
1199,0010280593d2cd34bb760608a8921d21,34671,Jones Lange Lasalle Inc.,Engineer Apprentice,2015-05-27,2015-08-06,Chicago,IL,60602.0,US,1,Accounting & Finance
1403,0012a64343b7eecca9076844d94586f2,8638,Chicago Board Options Exchange,Examiner,2013-02-27,2014-04-30,Chicago,IL,60602.0,US,1,Accounting & Finance

In [76]:
companies = pd.read_csv('companies.csv')

,name,last_scrape_date,first_scrape_date,city,state,country,ticker_main,ticker_ric,entity_id,bloomberg_id,scraping_url,trc_business_sector,trc_economic_sector,trc_industry_sector,trc_industry_group
0,Target,2017-02-19,2007-12-11,Minneapolis,MN,US,TGT,TGT.N,22560.0,TGT,http://www.target.com,Retailers,Consumer Cyclicals,Discount Stores,Diversified Retail
1,General Mills Inc.,2017-02-17,2007-12-03,Minneapolis,MN,US,GIS,GIS.N,24428.0,GIS,http://www.generalmills.com,Food & Beverages,Consumer Non-Cyclicals,Food Processing,Food & Tobacco
2,Ecolab Inc.,2017-02-16,2008-08-20,Saint Paul,MN,US,ECL,ECL.N,23051.0,ECL,http://www.ecolab.com,Industrial & Commercial Services,Industrials,Business Support Services,Professional & Commercial Services
3,Wilsons Leather,2017-02-19,2008-12-07,Brooklyn Park,MN,US,PRVU,PRVU.PK,108000693.0,PRVU,http://www.wilsonsleather.com/,NaN,NaN,NaN,NaN
4,Hawkins Chemical,2017-02-18,2008-07-06,Minneapolis,MN,US,HWKN,HWKN.OQ,25234.0,HWKN,http://www.hawkinsinc.com,Chemicals,Basic Materials,Diversified Chemicals,Chemicals